<div class="col-lg-3 col-md-3 col-sm-3">
    <div class="form-group">
      <label for="kastnaam">Naam kast:</label>
      <input type="text" class="form-control" id="kastnaam" #kastnaam>
    </div>
  <button (click)="createKast(kastnaam)" class="btn btn-default">Create</button>
</div>