<div *ngFor="let kast of kasten; let i = index">
  <div class="col-lg-3 col-md-3 col-sm-3 kastcontainer container">

    <input type="text" [(ngModel)]="kast.title" style="text-align: center"/>
    <ul>
      <li *ngFor="let item of kast.inhouds; let j = index">
        <input type="text" style="width: 20px" [(ngModel)]="item.aantal"/> x <input type="text" [(ngModel)]="item.naam"/>
        <button class="btn" (click)="removeFromInhoud(kast, j)"> X </button>
      </li>
      <hr />
      <li>
        <input type="text" style="width: 20px" placeholder="#" #newAmount>
        x
        <input type="text" placeholder="Add item" #newItem>
        <button class="btn" (click)="addToInhoud(kast, newAmount, newItem)"> + </button>
      </li>
      <button class="btn" (click)="editKast(kast)">Submit</button>
    </ul>
  </div>
</div>