<div *ngFor="let kast of kasten; let i = index">
  <div class="col-lg-3 col-md-3 col-sm-3 kastcontainer container">
    <h2 style="text-align: center">{{kast.title}}</h2>
    <ul>
      <li *ngFor="let item of kast.inhouds">{{item.aantal}}x {{item.naam}}</li>
    </ul>
  </div>
</div>