<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Kastplanner ofzo?</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/create">Create</a></li>
      <li routerLinkActive="active"><a routerLink="/delete">Delete</a></li>
      <li routerLinkActive="active"><a routerLink="/edit">Edit</a></li>
    </ul>
  </div>
</nav>